@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto&display=swap');
body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}
      
h4 {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    }

.home-title {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.msg p {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: .8em;
    background-color: #6f7364;
    line-height: 1.5em;
    padding-bottom: 15px;

}

#content  {
    max-width: 1600px;
     margin: 0 auto
    
    }
 #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
 }

nav{
    display: flex;
    justify-content: space-around;
}
nav a  {
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
    
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 

}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: rgb(196, 151, 151);
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white;
}

#hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #wireframe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.button-box {
    text-align: center;
}

main section  {
    text-align: center;
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb; 
    color: #181228;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:rgba(2, 48, 48, 0.7);
    color: #181228;


    
}
nav a:hover {
   
    background-color: black;
    color: #181228;
    text-decoration: none;
    
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: white;
    color: #181228;
}
#background {
    background-color: rgb(5, 47, 54);
    color: #181228;
}
.mountains {
    margin-top: 100px;
}


.msg  {
    background-color: rgba(9, 48, 48, 0.7);
    color: white;
    padding: 35px;
    margin-top: 100px;
}

footer {
    background-color: rgba(9, 48, 48, 0.7);
    
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer a {
    background-color: rgba(9, 48, 48, 0.7);
    color: white;
    text-decoration: none;
    
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

footer p {
    font-size: 1.2em;
    color: white;
} 

footer p a:hover {
    text-decoration: underline;
}    

footer .social img {
    padding-top: 15px;

}
.home-grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%  ;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg{
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.paragraph1 h5{
    text-align: center;
    font-size: 25px;
    color: #6f7364;
  }
  .paragraph1 p {
    text-align: justify;
    
  }
  #banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 40px;
    }
.mainsalmonriver{
        grid-column: 1/2;
        grid-row: 1/2;
}
#banner-box h1 {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: medium;
    margin-left: 10px;
    
}
.desolationgray {
    grid-column: 2/3;
    grid-row: 1/2;
}
#banner-box h2 {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: medium
    

}
#banner-box h1 {
    font-size: medium;
    margin-top: 10px;
    text-align: center;
    
    }

#banner-box h2 {
        font-size: medium;
        margin-top: 10px;
        text-align: center;
        
                }
    

 #banner-box h3 {
    font-size: medium;
    margin-top: 10px;
    text-align: center;
                    
    }         
#content  {
    max-width: 1600px;
         margin: 0 auto}

#banner-box .mainsalmonriver {
        align-content: center;
    }
    .paragraph1 p{
        margin-left: 40px;
        margin-right: 40px;
    }
    #introduction-box h3{
        text-align: center;
        color: rgb(196, 151, 151);
        font-size: 2em;
    }
    form {
        /* Center the form on the page */

        margin: auto;
        width: 400px;
        /* Form outline */
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
      }
      
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      form li + li {
        margin-top: 1em;
      }
      
      label {
        /* Uniform size & alignment */
        display: inline-block;
        width: 90px;
        text-align: right;
      }
      
      input,
      textarea {
        /* To make sure that all text fields have the same font settings
           By default, textareas have a monospace font */
        font: 1em sans-serif;
      
        /* Uniform text field size */
        width: 300px;
        box-sizing: border-box;
      
        /* Match form field borders */
        border: 1px solid #999;
      }
      
      input:focus,
      textarea:focus {
        /* Additional highlight for focused elements */
        border-color: #000;
      }
      
      textarea {
        /* Align multiline text fields with their labels */
        vertical-align: top;
      
        /* Provide space to type some text */
        height: 5em;
      }
      
      .button {
        /* Align buttons with the text fields */
        padding-left: 90px; /* same size as the label elements */
      }
      
      button {
        /* This extra margin represent roughly the same space as the space
           between the labels and their text fields */
        margin-left: 0.5em;
      }
      #feedback {
        background-color: antiquewhite;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: .5em;
        /* make this element invisible until we are ready for it */
        display: none;      
    }
    .moveDown {
        margin-top: 3em;
    }
                            

    
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
  }
  