@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto&display=swap');
body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
#content  {
    max-width: 1600px;
     margin: 0 auto
        }
#banner h1{
    text-align: center;
    background-color: #fcfbfb;
}
#background {
    height: 725px;
     
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:navy;
    display: block;
    
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a  {
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
    font-size: larger;
    
}
nav a:hover {
    background: #ddd;
    color: black;
  }

footer {
        background-color: navy;
        
        padding: 25px 50px;
        margin-top: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;

    
    }
    
footer a {
        background-color: rgba(9, 48, 48, 0.7);
        color: white;
        text-decoration: none;
    }
#news {
    margin-top: -26px;

}
#news  {
    color: white;
    text-decoration: none;

}
#banner-box {
    margin-left: 500px;
    

}
main h1 {
 text-align: center;
}
main p {
    margin-left: 50px;
    margin-right: 50px;
    text-justify: distribute;
   }
   .home-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: auto;
    
}
.prayer h2 {
    text-align: center;
}
.nature h2 {
    text-align: center;
}
.meditation h2 {
    text-align: center;
}
.religious{
    text-align: center;
}
#box1 p {
    text-align: auto;
    font-size:large;
    

}
#box2 p {
    text-align: auto;
    font-size: large;
    
}
#box3 p {
    text-align: auto;
    font-size: large;
    
}
#box4 p {
    text-align: left;
    font-size: large;
    
}
.prayer-img{
    width: 100%;
    border: 10px solid #d9c2a3;
}
.nature-img{
    width: 100%;
    border: 10px solid #d9c2a3
}
.meditation-img{
    width: 100%;
    border: 10px solid #d9c2a3
}
.religious-img{
    width: 100%;
    border: 10px solid #d9c2a3
}
#headline {
    text-align: center;
    color: blue;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
  }
  